.form-group #preview{
    height: 100px;
}

.form-group #content{
    height: 100px;
}

.preview-row{
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.error{
    color: red;
}