.list-button a:hover{
    text-decoration: none;
}

.table-thead th{
   background-color: #006633;
    color: white;
    font-weight: bold;
    text-align: center !important;

}
.pag {
	display : flex;
}
.navbar-pagination{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.pagination a{
    color: black;
    border: none;
    padding: 10px 15px;
}

.pagination a:hover{
    background-color: blue;
    color: white;
}
.msg {
	color: blue;
}
